---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const meta = {
	title: "Home | Parsa Tajik",
	description:
		"Welcome to the blog of Parsa Tajik, a software engineer and founder of Bloorsoft. Explore insightful posts on tech startups, software development, and his journey of building products in public.",
};

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Bloorsoft",
		desc: "My boutique software development agency, based in Toronto.",
		href: "https://bloorsoft.com",
	},
	{
		title: "Artefice",
		desc: "Where AI meets fashion.",
		href: "https://www.artefice.ai/",
	},
	{
		title: "Affirm Vision",
		desc: "Affirm's augmented reality shopping experience.",
		href: "https://github.com/parsatajik/ar-shopping",
	},
	{
		title: "Orwell",
		desc: "An AI writing assistant for people who enjoy writing. Coming soon.",
		href: "/coming-soon",
	},
];
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Welcome to my blog. I created this website to share my journey of building products in public
			and helping founders with their startups. I’m a software engineer based in San Francisco
			(prev. Toronto) who found himself to be very interested in manufacturing growth and
			understanding sales & marketing. I’m now actively building a variety of applications and
			running my boutique software development agency, <a
				href="https://bloorsoft.com"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link inline-block"
				aria-label="Bloorsoft's website">Bloorsoft</a
			>. I hope that you enjoy my posts and get some value from the things that I share. Feel free
			to shoot me a message if you want to chat!
		</p>
		<SocialList />
		<p class="mt-4 w-fit bg-red-500 font-bold dark:bg-purple-500">
			Want me to build your project or have an interesting idea? <a
				href="mailto:admin@bloorsoft.com"
				class="cactus-link inline-block"
				aria-label="Email me"
			>
				Email me
			</a>
		</p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						: <p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
