---
import { ViewTransitions } from "astro:transitions";
import { GoogleAnalytics } from "astro-google-analytics";

import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead";
import ThemeProvider from "@/components/ThemeProvider";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";
import { siteConfig } from "@/site-config";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title, description = siteConfig.description, ogImage, articleDate },
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
		<ViewTransitions />
		<GoogleAnalytics id="G-MYJD1P0D7G" />
		<script defer src="https://cloud.umami.is/script.js" data-website-id="cb6d706a-e68c-46e2-b2a6-9cc3d79866a3"></script>
	</head>
	<body>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
